* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.container {
    margin: 0 auto;
    min-height: 100vh;
    min-width: 90vw;
    display: flex;
    justify-content: flex-start;
}
.individual__student {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    width: 100vw;
}
.student {
    height: 100px;
    width: 100px;
}
.student__list {
    list-style: none;
}
.user__photo {
    min-height: 100%;
    min-width: 100%;
    outline: 2px solid lightgray;
    border-radius: 50%;
    margin-left: 5rem;

}
.user__info {
    margin: 0 auto;
}
.name {
    font-size: 3rem;
}
