* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
.container {
    min-height: 100vh;
    min-width: 100vw;
}
.student {
    height: 100px;
    width: 100px;
    list-style: none;
}
.student__list {
    
}
