* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: column;
}
.student {
    height: 100px;
    width: 100px;
}
.student__list {
    list-style: none;
}
.name {
    font-size: 3rem;
}
