* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.container {
    margin: 0 auto;
    min-height: 100vh;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
hr {
    width: 100%;
}
.individual__student {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px 15px 0px;
    width: 100vw;
    min-height: 200px;
    max-height: 200px;
}
.student__list {
    list-style: none;
   

}
.student__row {
    display: flex;
    flex-direction: column;
}
.user__photo {
    height: 8rem;
    width: 8rem;
    outline: 2px solid lightgray;
    border-radius: 50%;
    margin-left: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160px;
    padding: 20px 0px 20px 0px;
    align-items: center;
}
.user__info {
    padding: 0px 20px 0px 20px;
    font-size: 1.2rem;
}
.name {
    font-size: 3rem;
    font-weight: bold;
}
