.individual__tag {
    outline: 1px solid gray;
    display: flex;
    flex-direction: row;
}
.tag__container {
    display: flex;
    flex-direction: column;
}
.tag__input {
    font-size: 14px;
    color: rgb(77, 77, 77);
    width: 200px;
    margin-left: 245px;
    padding: 10px 5px 5px 5px;
    border: 0;
    border-bottom: 2px solid rgb(233, 233, 233);
    margin-bottom: 30px;
}
.tag__input:focus {
    outline: none;
}
